<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>DBCheck</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <script type="text/javascript" src="/app.js"></script>
</head>
<body onload="init()">

<div id="content">
    <h1>Checking connection to your database</h1>

    <section id="result">
        <p id="result-emoji">🧐</p>
        <p id="result-text">Please wait...</p>
    </section>

    <section id="help">
        <p>Need help? Check out
            <a href="http://github.com/alexandreroman/dbcheck/blob/master/README.md">project documentation</a>.</p>
    </section>
</div>

<footer>
    <p>Copyright &copy; 2018 Alexandre Roman</p>
    <p>This project is available on GitHub: <a href="http://github.com/alexandreroman/dbcheck">get source code</a>!</p>
</footer>
</body>
</html>
